# Build and push multi-arch Docker image to docker hub

name: Build

on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - main
    tags:
      - "*"

jobs:
  build-and-push:
    name: BuildAndPush
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    env:
      IMAGE_NAME: influxdb-athena-crawler
      GCP_PROJECT_ID: quortex-registry-public
      WORKLOAD_IDENTITY_POOL: 'projects/724876838553/locations/global/workloadIdentityPools/github-oidc-pool/providers/github-oidc-provider'
      SERVICE_ACCOUNT: 'github-influxdb-athena-crawler@quortex-admin.iam.gserviceaccount.com'

    steps:
      # This step uses Github's checkout-action: https://github.com/actions/checkout
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v3'
        with:
          token_format: 'access_token'
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_POOL }}
          service_account: ${{ env.SERVICE_ACCOUNT }}

      # Setup gcloud CLI
      - uses: google-github-actions/setup-gcloud@v2.1.0

      # Configure docker to use the gcloud command-line tool as a credential helper
      - run: |
          gcloud auth configure-docker -q

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: eu.gcr.io/${{ env.GCP_PROJECT_ID }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable={{is_default_branch}}

      # Build docker image
      - name: Prepare cross-compilation Dockerfile
        run: sed -e '1 s/\(^FROM\)/FROM --platform=${BUILDPLATFORM}/; t' -e ' 1,// s//FROM --platform=${BUILDPLATFORM}/' Dockerfile > Dockerfile.cross

      # Build and push docker image with buildx
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.cross
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
